@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The source code for this project is available on <a href="https://github.com/Grauenwolf/TravellerTools/">GitHub</a></p>

