<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Traveller Tools II</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="world">
                <span class="oi oi-globe" aria-hidden="true"></span> Galaxy Index
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uwp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> UWP
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="character">
                <span class="oi oi-person" aria-hidden="true"></span> Characters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="oi oi-people" aria-hidden="true"></span> Contacts
            </NavLink>
        </li>
        @*
        <li class="nav-item px-3">
        <NavLink class="nav-link">
        Animals
        </NavLink>
        <div class="nav-link">
        <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Animals
        </div>
        <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="animals/mgt">
                <span class="oi oi-bug" aria-hidden="true"></span> MGT-1 Animals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="animal-encounters">
                <span class="oi oi-bug" aria-hidden="true"></span> Animal Encounters
            </NavLink>
        </li>
        *@

        @*
        </ul>

        </li>
        *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="encounters">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Encounters
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
