<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Traveller Tools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="world">
                <span class="oi oi-globe" aria-hidden="true"></span> Galaxy Index
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uwp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> UWP
            </NavLink>
        </li>

        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="setting/fantasy">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fantasy
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="setting/futureTech">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Future Tech
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="setting/modern">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Modern
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="setting/urbanFantasy">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Urban Fantasy
                </NavLink>
            </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
