@page "/"
@namespace Grauenwolf.TravellerTools.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveller Tools II</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Grauenwolf.TravellerTools.Web.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div class="sidebar do-not-print">
        <div>The Traveller game in all forms is owned by Far Future Enterprises. Copyright © 1977 – 2020 Far Future Enterprises.</div>
        <div>Information on sectors, subsectors, and worlds is provided by <a href="https://travellermap.com/">Traveller Map</a></div>
        <div>Warning: Permalinks become invalid when a new version of Traveller Tools is released.</div>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script>
        setTitle = (title) => {
            if (title === null || title === "")
                document.title = "Traveller Tools II";
            else
                document.title = "Traveller Tools II - " + title;

        };

        isPreRendering = () => {
            return false;
        };

        window.scrollToElementId = (elementId) => {
            console.info('scrolling to element', elementId);
            var element = document.getElementById(elementId);
            if (!element) {
                console.warn('element was not found', elementId);
                return false;
            }
            element.scrollIntoView();
            return true;
        }
    </script>
</body>
</html>
