@page "/about"
@inherits PageBase

<h1>About</h1>
<p>Submit suggestions and corrections to <a href="https://github.com/Grauenwolf/TravellerTools/issues">GitHub</a></p>
<p>Name generator inspired by the work of James Robinson and <a href="https://www.taunoyen.com/traveller/corsairwordgen2.html">David Burden</a></p>
