@page "/"
@inherits PageBase

<h1>Hello, worlds!</h1>

<div>
    Welcome to the demo of the new Traveller Tools website. This is a work in progress, so keep an eye out for cranes.
</div>

<WorldPicker />

<div>
    For the old version, head over to <a href="http://travellertools.azurewebsites.net/">Traveller Tools</a>
</div>
