@page "/"
@inherits PageBase
@{PageTitle = "";}

<h1>Hello, travellers!</h1>

<div>
    Welcome to the demo of the new Traveller Tools website. This is a work in progress, so keep an eye out for cranes.
</div>

<div>
    <NavLink class="nav-link" href="world">
        <span class="oi oi-globe" aria-hidden="true"></span> Galaxy Index
    </NavLink>
    <NavLink class="nav-link" href="uwp">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Universal World Profile
    </NavLink>
</div>

<div>
    For the old version, head over to <a href="http://travellertools.azurewebsites.net/">Traveller Tools</a>
</div>
